<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>AI:lean Chatbot</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="../static/js/script.js" defer></script><!--wait uptil the page has finished parsing before executing the script-->
</head>
<body>
    <!--TO-DO: sidebar container-->
    <!-- <div class="sidebar-container">
        <span id="new-chat-btn" class="material-symbols-outlined" title="New chat">maps_ugc</span>
        <div class="history">
            <p>Chat 1</p>
            <p>Chat 2</p>
            <p>Chat 3</p>
        </div>
    </div> -->
        <!--CHAT CONTAINER-->
        <div class="chat-container"></div>
        <!--Typing CONTAINER-->
        <div class ="typing-container">
            <div class="typing-content">
                <div class="typing-textarea">
                    <textarea id="chat-input" placeholder="Enter your question here" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">send</span>
                </div>
                <div class="typing-controls">
                    <span id="delete-btn" class="material-symbols-rounded" title="Delete chat">delete</span>
                    <span id="theme-btn" class="material-symbols-rounded" title="Change theme">light_mode</span>
                    <label for="upload-btn" id="upload-label" class="material-symbols-outlined" title="Upload file">upload_file</label>
                    <input id="upload-btn" type="file" accept=".pdf">                    
                </div>
                <div class="file-info"></div>
            </div>
        </div>
</body>
</html>
