<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>AI:lean Chatbot</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="../static/js/script.js" defer></script><!--wait uptil the page has finished parsing before executing the script-->
</head>
<body>
    <!--TO-DO: sidebar container-->
    <div id="leftbox" class="history-container">
        <div class = "nav-controls">
            <button id="new-chat-btn" title="New chat">+ New chat</button>
            <button id="hide-sidebar-btn" onclick="closeNav()" class="material-symbols-outlined" title="Hide sidebar">left_panel_close</button>
        </div>
        <div class="history">
            <ul id="chat-list">
                {% for chat in chats %}
                    <li id="{{ chat.conversation_id }}"><span class="material-symbols-outlined">chat_bubble</span>{{ chat.title }}</li>
                {% endfor %}
            </ul>
        </div>    
    </div>
        <!--CHAT CONTAINER-->
        <div class="upper-controls">
            <button id="open-sidebar-btn" onclick="openNav()" class="material-symbols-outlined" title="Open sidebar">left_panel_open</button>
            <div class="upper-controls-rightDiv">
                <button id="admin-login-btn" class="material-symbols-outlined" title="Admin Login"> sync_saved_locally</button>
                <button id="logout-btn" class="material-symbols-outlined" title="Logout"> logout</button>
            </div>
        </div>
    
        <div id="chatbox" class="chat-container"></div>            
        <!--Typing CONTAINER-->
        <div id="input-panel"class ="typing-container">
            <div class="typing-content">
                <div class="typing-textarea">
                    <textarea id="chat-input" placeholder="Enter your question here" required></textarea>
                    <span id="send-btn" class="material-symbols-rounded">send</span>
                </div>
                <div class="typing-controls">
                    <span id="delete-btn" class="material-symbols-rounded" title="Delete chat">delete</span>
                    <span id="theme-btn" class="material-symbols-rounded" title="Change theme">light_mode</span>
                    <!-- <label for="upload-btn" id="upload-label" class="material-symbols-outlined" title="Upload file">upload_file</label>
                    <input id="upload-btn" type="file" accept=".pdf">                     -->
                </div>
                <!-- <div class="file-info"></div> -->
                <p class="info">AI:lean Jun 15 Version. Demo Preview. AI:lean may produce inaccurate information. Your feedback will help us to improve.</p>
            </div>
        </div>
</body>
</html>
