<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="../static/js/dashboard.js"></script>
    <title>Dashboard</title>
</head>
<body>
    {% extends 'admin_panel.html' %}
    {% block content %}
    <div class="main-title">
        <h2>DASHBOARD</h2>
    </div>
    <div class="main-stats">
        <div class="stats">
            <div class="stats-inner">
                <h3>DAILY SPENDITURE</h3>
                <span id="stats_icon" class="material-symbols-outlined">payments</span>
            </div>
            <h1>{{ stat1 }}</h1>
        </div>
        <div class="stats">
            <div class="stats-inner">
                <h3>COSTS PER REQUEST</h3>
                <span id="stats_icon" class="material-symbols-outlined">monetization_on</span>
            </div>
            <h1> {{ stat2 }} </h1>
        </div>
        <div class="stats">
            <div class="stats-inner">
                <h3>DAILY TOKENS</h3>
                <span id="stats_icon" class="material-symbols-outlined">token</span>
            </div>
            <h1>{{ stat3 }}</h1>
        </div>
        <div class="stats">
            <div class="stats-inner">
                <h3>AVG RESPONSE TIME</h3>
                <span id="stats_icon" class="material-symbols-outlined">timer</span>
            </div>
            <h1>{{ stat4 }}</h1>
        </div>
    </div>
    <div class="charts">
        <div class="chart-container">
            <h2 class="chart-title">Total Usage</h2>
            <!--Apex Charts-->
            <div id="chart"></div>
        </div>
    </div>
    <!-- Add the specific content for the dashboard page -->
{% endblock %}
</body>
</html>