<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documents</title>
</head>
<body>
{% extends 'admin_panel.html' %}
{% block content %}
<div class="main-title">
    <h2>DOCUMENT MANAGEMENT</h2>
</div> 
<div class="search-controls">
    <input id="searchbar" type="text" placeholder="Search for the documents...">
    <button type="submit"><span class="material-symbols-outlined">search</span></button>
</div>
{% endblock %}    
</body>
</html>