<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.min.js"></script>
    <script src="../../static/js/feedback.js?v=123" defer></script>
    <title>Feedback</title>
</head>
<body>
    {% extends 'admin_panel.html' %}

    {% block content %}
    <div class="main-title">
        <h1 class="feedback-title-components">Feedback</h1>
        <div class="feedback-title-components">
            <button id="reset-all-feedback-btn">Reset all Feedback!</button>
        </div>
    </div>

    <!-- [Container in that the chunk feedback will be shown] -->
    <ul id="feedback-list-container">
        {% for feedback in all_feedback %}
            <li class="chunk-information">
                <!-- The chunk itself with the reset and delete button -->
                <div id = "{{feedback.chunk_id}}" class="title-with-buttons">
                    <h2>Chunk ID: {{ feedback.chunk_id }}</h2>
                    <button class="reset-feedback-btn">Reset Feedback</button>
                    <button class="delete-chunk-btn">Delete chunk</button>
                </div>
                <!-- Chunk information (Indicator how bad the chunk is; Chunk content; Chunk type; Chunk source; Chunk Order ID)-->
                <div class="indent">
                    <p id="feedback-downrating-p">Down Rating: {{ feedback.down_rating }}</p>
                    <details>
                        <summary id="feedback-details-dropdown">View details</summary>
                            <div class="feedback-info-div">
                                <p class="content-p" id="feedback-content-title">Content:</p>
                                <p class="content-p" id="feedback-content-p">{{ feedback.content }}</p>
                            </div>
                            <div class="feedback-info-div">
                                <p class="content-p" id="feedback-content-title">Type:</p>
                                <p class="conten-p" id="feedback-content-p">{{ feedback.metadata.type }}</p>
                            </div>
                            <div class="feedback-info-div">
                                <p class="content-p" id="feedback-content-title">Source ID:</p>
                                <p class="content-p" id="feedback-content-p">{{ feedback.metadata.source_id }}</p>
                            </div>
                            <div class="feedback-info-div">
                                <p class="content-p" id="feedback-content-title">Order ID: </p>
                                <p class="content-p" id="feedback-content-p">{{ feedback.metadata.order_id }}</p>
                            </div>
                    </details>
                </div>
            </li>
        {% endfor %}
    </ul>

    <!-- Add the specific content for the dashboard page -->
    {% endblock %}
    
</body>
</html>  
